.body {
  background-image: url(http://www.funwallz.com/image/dotted-gradient-theumad-ddc-hd-wallpaper-23577.jpg);
}

.background {
  background-image: url(http://a4.urbancdn.com/w/s/ic/UlQUgQVTigLt7G.jpg);
  background-repeat: no-repeat;
  margin: 0;
}

.row {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 65.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.title_page {
  text-align: center;
  background-image: url(http://www.funwallz.com/image/dotted-gradient-theumad-ddc-hd-wallpaper-23577.jpg);
  /*background-repeat: no-repeat;*/
  margin: 0;
  overflow: visible;
  margin-bottom: -10px;
  margin-top: -10px;
}

.title_page h1 {
  font-family: Cuprum;
  font-size: 5em;
  color: rgb(169,67,26);
  letter-spacing: .2em;
  margin-bottom: -.1em;
}

.tabs dd a {
  font-family: Istok Web !important;
  font-weight: 700 !important;
  color: rgb(169,67,26) !important;
}

.tabs {
  background-color: url(http://www.funwallz.com/image/dotted-gradient-theumad-ddc-hd-wallpaper-23577.jpg) !important;
}

/*MENU BODY INFROMATION*/

.top {
  padding-bottom: 1em; /*KEEP AN EYE, MAY NEED TO USE SPACING IN ANOTHER ELEMENT*/
}

. {

}

#home-detail {
  margin-left: 4em;
  margin-top: 1em;
  background-image: url(http://www.funwallz.com/image/dotted-gradient-theumad-ddc-hd-wallpaper-23577.jpg);
  width: 25em;
  position: relative;
  border-radius: 2em;
}

#home-detail h5, #home-detail h4 {
  font-weight: bold;
  text-shadow: 0 -1px 1px rgba(0,1,1,0.15);
  color: white;
}

#home-detail p {
  font-size: .9em;
  color: white;
}

.orbit-content {
  height: 20em;
}

.orbit-container {
  overflow: hidden;
  width: 100%;
  background: none;
}

.orbit-container .orbit-slide-number {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: white;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
}

/*ADD Z-INDEX TO ELEMENT*/
.insert {
  border-radius: 2em;
  padding: 1em;
  width: 25em;
  position: relative;
  -webkit-box-shadow: 2px 2px 20px 1px black;
  box-shadow: 2px 2px 20px 1px black;
  height: 400px;
}

.content {
  padding: 3em;
}

.content h4 {
  font-family: Satisfy;
  font-size: 2em;
  /*text-shadow: 0 -1px 1px rgba(0,1,1,0.15);*/
  font-style: italic;
  color: rgb(169,67,26) !important;
}

.content h3 {
  font-family: Satisfy;
  padding-top: .8em;
  padding-left: .3em;
  font-size: 5em;
  font-style: italic;
  color: rgb(169,67,26) !important;
}

.content .contact-form {
  font-family: Istok Web;
}

.content p {
  font-family: Istok Web;
}

.founders {
  border: 5px #fff solid;
  margin-top: 5em;
  -webkit-transform: rotate(10deg);
}

.foundersnew {
  border: 5px #fff solid;
  margin-top: 5em;
}


/*MENU PAGE*/


.menu-holder {
  background-image: url(http://www.loumalnatis.com/resources/assets/images/layout/bg-paper-tile.jpg);
}

.menu-list {
  padding-top: 2em;
  float: right;
  list-style: none;
}


.button {
  border-radius: 10px;
}

button, .button {
  background-color: rgb(169,67,26) !important;
}

.fade {
  opacity: 0.5;
  background-image: url(http://www.funwallz.com/image/dotted-gradient-theumad-ddc-hd-wallpaper-23577.jpg);
  /*background-color: rgb(45,95,216) !important;*/
}

.blue {
  /*background-color: rgb(45,95,216) !important;*/
  background-image: url(http://www.funwallz.com/image/dotted-gradient-theumad-ddc-hd-wallpaper-23577.jpg) !important;

}

.image-holder {
  padding: 2em;
  position: relative;
  /*background-image: url(http://www.funwallz.com/image/dotted-gradient-theumad-ddc-hd-wallpaper-23577.jpg);*/
}

.menu {
  display: none;
  border-radius: 10px;
  margin-left: 2em;
  position: absolute;
}

/*menu.third, menu.fourth {
  margin-left: 2em;
}

.fifth {
  margin-left: .2em;
}*/



/*CONTACT PAGE*/
#left-side {
  background-image: url(http://www.funwallz.com/image/dotted-gradient-theumad-ddc-hd-wallpaper-23577.jpg);
  border-radius: 2em;
}

.bold {
  font-weight: 700;
}

#left-side h3 {
  text-shadow: 0 -1px 1px rgba(0,1,1,0.15);
  font-size: 1.5em;
}

#left-side p {
  text-shadow: 1px 1px 1px rgba(0,1,1,0.15);
  color: white;
}

#left-side label {
  color: white;
}

iframe {
  padding-top: 2em;
}


/*STORE INFROMATION*/

.body3 {
  background-image: url(http://www.funwallz.com/image/dotted-gradient-theumad-ddc-hd-wallpaper-23577.jpg);
  border-radius: 10px;
}

.store1, .store2 {
  text-align: center;
}

.store1 h3 {
  font-size: 2em;
  font-family: Istok Web;
}

.store1 img {
  border-radius: 2em;
}

.store2 h6 {
  padding-top: 1em;
  color: white;
}

.store3 a {
  text-align: center;
}

.store3 .button {
  margin-left: 2em;
}


/*SOCIAL FOOOTER INFORMATION*/


/*MAY CHANGE THE PADDING...LOOK HERE FOR MAKING THE CHANGE!*/
/*MAY CHANGE THE PADDING...LOOK HERE FOR MAKING THE CHANGE!*/
/*MAY CHANGE THE PADDING...LOOK HERE FOR MAKING THE CHANGE!*/
.footer_box {
  background-image: url(http://www.funwallz.com/image/dotted-gradient-theumad-ddc-hd-wallpaper-23577.jpg);
  margin: 0;
  padding-top: 3em;
}
.footer_box h5, .footer_box h6, .footer_box p {
  font-family: Istok Web;
}

.footerSocial {
  padding-top: 1em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid rgb(169,67,26);
  text-align: center;
}

.social-data-holder {
  border-top: 1px solid rgb(169,67,26);
}

.socialContent h5 {
  font-size: 1em;
  padding-top: 1em;
  color: white;
}

.socialContent h5 span {
  color: rgb(169,67,26);
  font-weight: 700;
}

.socialIcons {
  padding-top: 2em;
  clear: both;
  width: 41%;
  margin: 0 auto;
}

.socialIcons ul {
  list-style: none;
}

.socialIcons ul li {
  float: left;
  margin-left: .5em;
}

.socialIcons ul li img {
  height: 2.5em;
  width: 2.5em;
  border-radius: 100%;
}

.grayscale {
  -webkit-filter: grayscale(100%);
}

/*FOOTER WITH CONTACT INFO*/

.footerContainer ul {
  list-style: none;
}

.footerContainer ul li {
  float: left;
}

.address, .phone {
  margin-left: 2em;
  font-size: 1rem;
  margin-top: .1em;
  color: white;
}

.hours {
  color: white;
}

